{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ if eq .ownership "personal" -}}
{{ range .personal.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .personal.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end }}
{{ if eq .ownership "work" -}}
{{ range .work.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .work.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end }}

EOF
{{ end -}}
