{{ if eq .ownership "work" -}}
$env.PACKAGES_AUTH_TOKEN = {{ onepasswordRead "op://Syntax/Environment Variables/PACKAGES_AUTH_TOKEN" | quote }}
$env.BUNDLE_RUBYGEMS__PKG__GITHUB__COM = {{ onepasswordRead "op://Syntax/Environment Variables/BUNDLE_RUBYGEMS__PKG__GITHUB__COM" | quote }}
$env.BUNDLE_GEMS__CONTRIBSYS__COM = {{ onepasswordRead "op://Syntax/Environment Variables/BUNDLE_GEMS__CONTRIBSYS__COM" | quote }}
{{ end }}
