@define-color foreground #dcd7ba;
@define-color background #1f1f28;

* {
  background: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: FiraCode Nerd Font Propo;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none;
}

.modules-left, .modules-center, .modules-right {
  background: @background;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 2px;
  border: 0px solid;
  border-radius: 1em;
  padding: 0.1em 0.5em;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-omarchy {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 12px;
}

tooltip {
  padding: 2px;
  background: @background;
}

menu {
  background: @background;
  padding: 8px;
  border-radius: 1em;
}

menuitem {
  opacity: 0.5;
}

menuitem:hover {
  opacity: 1;
}

